---
import { Picture } from '@astrojs/image/components';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<!-- <article class="mb-6 transition m-auto flex flex-col items-center"> -->
<article class="mb-6 transition m-auto flex flex-col items-center">
	<div class="bg-green-200 m-auto flex flex-col justify-center items-center relative">
		<div class="m-auto">
			{
				image && (
					// the list of sized that shoudl be buil dor responsive images.
					<Picture class="rounded-md" src={image} widths={[375]} sizes="375px" alt={post.title} aspectRatio="1:1" />
				)
			}
		</div>
		<h3
			class="text-2xl font-bold leading-snug sm:text-2xl font-headings p-2r absolute bottom-5 text-cyan-50 hover:text-3xl"
		>
			<a
				href={getPermalink(post.slug, 'post')}
				class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
			>
				{post.title}
			</a>
		</h3>
	</div>
</article>
