---
// import { getPermalink } from '~/utils/permalinks';
import { Icon } from 'astro-icon';
---

<div
	class="hidden md:flex items-center justify-center bg-primary-100 border-b border-primary-100 text-sm px-3 py-2 text-gray-800 overflow-hidden whitespace-nowrap text-ellipsis"
>
	<div class="flex gap-5 items-center">
		<div class="hidden md:flex items-center gap-2">
			<Icon class="" name="ic:baseline-map" widht={30} height={30} color="#53a510" />
			Nemuno g . 136, LT-71413, Kukarskės k., Kidulių sen., &nbsp;Šakių r.
		</div>
		<a class="hidden md:flex items-center gap-2" href="tel:83456 2300">
			<Icon name="ic:outline-local-phone" widht={30} height={30} color="#53a510" />
			(8 345) 62 300
		</a>
		<a class="" href="https://www.facebook.com/profile.php?id=100064362083063" target="_blank">
			<Icon class="rounded-md" name="logos:facebook" widht={30} height={30} />
		</a>
	</div>
</div>
