---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'Kaip dažnai turėčiau lankyti savo senelius globos namuose?',
			answer: `Dažnis priklauso nuo senelio ar senelės pageidavimų ir jų sveikatos būklės. Geriausia susitarti su senelių globos namų personalu, kiek ir kaip dažnai galima juos aplankyti.`,
		},
		{
			question: 'Kokia yra gyvenimo kaina senelių globos namuose?',
			answer: `Gyvenimo kaina senelių globos namuose gali skirtis priklausomai nuo senelio ar senelės poreikių ir poreikių patenkinimo lygio, taip pat ir regiono, kuriame senelių globos namai yra įsikūrę. Geriausia kreiptis tiesiogiai į senelių globos namus ir pasiteirauti apie kainas.`,
		},
		{
			question: 'Kaip užtikrinti senelio ar senelės saugumą senelių globos namuose?',
			answer: `Senelių globos namai turi savo saugumo taisykles ir procedūras. Geriausia pasitikrinti, kaip senelių globos namai užtikrina jų saugumą ir kokias taisykles taiko, pavyzdžiui, kiekvieno senelio ar senelės sveikatos būklė patikrinama, ar yra užtikrintas jų gydymas ir kt.`,
		},
	],
	[
		{
			question: 'Ką daryti, jei manau, kad mano senelis ar senelė netinkamai gydomi senelių globos namuose?',
			answer: `Pirmiausia, geriausia kreiptis tiesiogiai į senelių globos namų personalą ir aptarti savo susirūpinimą. Jei negalite pasiekti tinkamos komunikacijos, kreipkitės į įstaigos vadovybę ar nacionalinę globos namų kontrolės tarnybą.`,
		},
		{
			question:
				'Kaip senelių globos namai rūpinasi seneliais, turinčiais specifinius medicininius poreikius, tokius kaip diabetas ar Alzhaimerio liga?',
			answer: `Senelių globos namai turi specializuotus medicinos specialistus, kurie gali užtikrinti, kad seneliai su specifiniais medicininiais poreikiais būtų tinkamai prižiūrimi. Geriausia kreiptis į senelių globos namus ir paklausti, kokios specializuotos paslaugos jie siūlo ir kaip rūpinasi seneliais su specifiniais medicininiais poreikiais.`,
		},
		{
			question: 'Ar senelių globos namuose yra laikomasi higienos reikalavimų ir saugos taisyklių?',
			answer: `Taip, senelių globos namuose turėtų būti laikomasi visų higienos reikalavimų ir saugos taisyklių, kad būtų užtikrintas senelių saugumas ir gerovė. Geriausia kreiptis tiesiogiai į senelių globos namus ir pasiteirauti apie jų higienos ir saugos procedūras.`,
		},
	],
];
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold tracking-tight sm:text-4xl md:mx-auto font-heading">
				Dažniausiai užduodami klausimai
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
