---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'Socialinio darbo paslaugos',
			description:
				'Informavimas – informacijos teikimas asmeniui ir jo artimiesiems apie socialinės globos ir kitas paslaugas globos namuose',
			icon: 'tabler:brand-tailwind',
			link: '',
		},
		{
			title: 'Sveikatos priežiūros paslaugos',
			description: 'Paslaugos apra6ymas 2',
			icon: 'tabler:components',
		},
		{
			title: 'Maitinimas',
			description: 'Paslauga 3',
			icon: 'tabler:list-check',
		},
	],
	[
		{
			title: 'Apgyvendinimas',
			description: 'Paslauga 4',
			icon: 'tabler:rocket',
		},
		{
			title: 'Priėmimo tvarka',
			description: 'Paslauga 5 ',
			icon: 'tabler:arrows-right-left',
		},
		{
			title: 'Terapinės rekreacijos paslaugos',
			description: 'Paslauga aprašymas',
			icon: 'tabler:bulb',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="mx-auto">
		<h2 class="text-2xl md:text-5xl font-bold mb-4 font-heading mx-auto">
			<span class="flex justify-center items-center">Kurkarskėje teikiamos paslaugos</span>
		</h2>
		<div class="flex gap-5 flex-col mx-auto py-7">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md bg-blue-400 ">
								<div>
									<div class="mb-4 mr-4 bg-green-500">
										<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500 dark:bg-primary-700">
											{icon && <Icon name={icon} class="w-6 h-6 text-white icon-light" />}
										</div>
									</div>
									<div class="bg-yellow-300">
										<h3 class="mb-3 text-xl font-bold">{title} </h3>
										<p class="text-gray-600 dark:text-slate-400">{description}</p>
									</div>
								</div>
								<div class="">
									<button class="bg-black mx-auto px-5">plačiau</button>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
