---
import { Icon } from 'astro-icon';
import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

const currentYear = new Date().getFullYear();

const links = [
	{
		title: 'Product',
		kontaktai: [
			{ title: 'Tel. (8 345) 62 300' },
			{ title: 'Security', href: '#' },
			{ title: 'Team', href: '#' },
			{ title: 'Enterprise', href: '#' },
			{ title: 'Customer stories', href: '#' },
			{ title: 'Pricing', href: '#' },
			{ title: 'Resources', href: '#' },
		],
	},
	{
		title: 'Platform',
		items: [
			{ title: 'Developer API', href: '#' },
			{ title: 'Partners', href: '#' },
			{ title: 'Atom', href: '#' },
			{ title: 'Electron', href: '#' },
			{ title: 'AstroWind Desktop', href: '#' },
		],
	},
	{
		title: 'Support',
		items: [
			{ title: 'Docs', href: '#' },
			{ title: 'Community Forum', href: '#' },
			{ title: 'Professional Services', href: '#' },
			{ title: 'Skills', href: '#' },
			{ title: 'Status', href: '#' },
		],
	},
	{
		title: 'Company',
		items: [
			{ title: 'About', href: '#' },
			{ title: 'Blog', href: '#' },
			{ title: 'Careers', href: '#' },
			{ title: 'Press', href: '#' },
			{ title: 'Inclusion', href: '#' },
			{ title: 'Social Impact', href: '#' },
			{ title: 'Shop', href: '#' },
		],
	},
];
---

<footer class="border-t border-gray-200">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<div class="text-sm text-gray-700 mx-auto dark:text-slate-400">
				{currentYear}
				Visos teisės saugomos
			</div>
		</div>
	</div>
</footer>
