---
import { Picture } from '@astrojs/image/components';
---

<section>
	<!-- <div class="relative m-auto max-w-4xl"> -->
	<div class="mx-auto">
		<div class="">
			<Picture
				src={import('~/assets/images/hero.jpg')}
				class="w-full m-auto -mt-15"
				widths={[400, 768, 1480]}
				sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
				alt="Kukarskės globos namai"
				aspectRatio={1480 / 833}
				loading="eager"
				width={1480}
				height={833}
			/>
		</div>
	</div>
</section>
