---
import Item from '~/components/blog/GridItem.astro';

const { posts } = Astro.props;
// console.log(posts, 'this is our posts');
---

<!-- <div class="flex flex-col"> -->
<div class="">
	{posts.map((post) => <Item post={post} />)}
</div>
