---
import Grid from '~/components/blog/Grid.astro';

import { findPostsByIds } from '~/utils/posts';

const ids = [
	'gyvenimo-istorija-verute',
	'how-to-customize-astrowind-to-your-brand',
	'useful-resources-to-create-websites',
];

const posts = await findPostsByIds(ids);
---

<!-- <section class="px-4 py-16 mx-auto max-w-6xl md:flex md:flex-row md:justify-between md:items-center"> --><!-- <section class="px-4 py-16 mx-auto max-w-6xl">
	<div class="flex flex-col mb-6 lg:justify-between items-center lg:flex-row md:mb-8">
		<h2 class="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading">
			<span class="inline-block mb-1 sm:mb-4">Mano gyvenimo istorija</span>
		</h2>
		<Grid posts={posts} />
	</div>
</section> --><!-- <section class="px-4 py-16 mx-auto max-w-6xl md:flex md:flex-row md:justify-between md:items-center"> -->
<section class="px-4 py-16 mx-auto max-w-6xl md:flex md:flex-row md:justify-between md:items-center">
	<!-- <h2 class="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading"> -->
	<div class="mx-auto">
		<h2 class="flex">
			<!-- <span class="inline-block sm:mb-4 mx-auto my-0">Mano gyvenimo istorija</span> -->
			<span class="items-center mx-auto mb-8 text-2xl font-bold">Mano gyvenimo istorija</span>
		</h2>
		<Grid posts={posts} />
	</div>
</section>
